html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    display: inline;
}

/* navbar */
nav{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

.container-nav{
    padding: 10px;
    margin-left: 20px;
}

.logo-nav{
    display: flex;
    align-items: center;
}

.logo-nav img{
    max-width: 50px;
    height: auto;
}

.logo-nav h1{
    display: inline;
    font-family: "Cinzel Decorative", serif;
    margin-left: 5px;
}

/* navbar end */

/* main */
.container-kaligrafi{
    display: flex;
    justify-content: center;
}

.container-kaligrafi img{
   max-width: 80%;
   max-height: 500px;
}

.container-home{
    margin-bottom: 100px;
}

.container-surat{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.list-surat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
}

.nama-surat .arti-surat{
    font-size: 10px;
}

.container-list-ayat{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
}

.list-ayat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nomor-ayat{
    margin-left: 5px;
}

.arab-ayat{
    max-width: 50%;
    max-height: auto;
    padding: 30px;
}

.arab-ayat h2{
    font-weight: lighter;
    font-size: 30px;
}

.arti-ayat{
    margin-left: 5px;
}

.arti-ayat p{
    font-size: 13px;
    margin-bottom: 15px;
}

.arab-latin{
    color: rgb(117, 100, 1);
}

/* main end */



/* footer */
footer{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: auto;
}

.container-menu{
    background: linear-gradient(#0A4D45 100%, #17B3A033 20%);
    max-width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-alquran img{
    max-width: 50px;
    height: auto;
}

.logo-zikir img{
    max-width: 50px;
    height: auto;
}

.logo-quiz img{
    max-width: 50px;
    height: auto;
}

.logo-artikel img{
    max-width: 50px;
    height: auto;
}

.logo-kalkulator-zakat img{
    max-width: 50px;
    height: auto;
}

/* footer end */

/* 375 */
@media screen and (min-width: 375px) {

}
/* 375 end */

/* 425 */
@media screen and (min-width: 425px){

}
/* 425 end */


/* 768 */
@media screen and (min-width: 768px) {

    .kaligrafi{
        margin-left: 110px;
    }

    .container-surat{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

}
/* 768 end */

/* 1024 */
@media screen and (min-width: 1024px) {

    .kaligrafi{
        margin-left: 250px;
    }

    .container-surat{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

}
/* 1024 end */

/* 1440 */
@media screen and (min-width: 1440px) {

    .kaligrafi{
        margin-left: 450px;
    }

    .container-surat{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

}
/* 1440 end */
