html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
}

header{
    display: inline;
}

/* navbar */
nav{
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* background-color: #073a33ee; */
    padding: 10px;
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease; /* Smooth transition */
    /* backdrop-filter: blur(10px); */
}

.icon-hamburger i{
    font-size: 23px;
}

.icon-hamburger button{
    border: none;
    background-color: transparent;
    width: 44px;
    height: 44px;
}

.logo img{
    max-width: 40px;
    height: auto;
}

#nav-mobile{
    position: absolute;
    width: 80%;
    height: 100vh;
    background-color: #073a33;
    z-index: 9999;
    transform: translate(-800px,0);
    top: 1px;
    right: 80px;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(10px);
}

#nav-mobile.open{
    transform: translate(0,0);
    top: 1px;
}

#nav-mobile ul{
    margin-top: 10px;
    text-align: center;
}

#nav-mobile li{
    margin-bottom: 8px;
    list-style-type: none;
}

#nav-mobile a{
    display: inline-block;
    width: 120px;
    height: 44px;
    color: #ffd900;
    text-decoration: none;
}

#nav-mobile p{
    margin-top: 10px;
}

#nav-desktop{
    display: none;
}



/* navbar end */



